dist/

src/kysely/*

node_modules/

.prettierrc
.eslintrc.js

logs/

coverage/

*.env

package.json
nest-cli.json
tsconfig.build.json
tsconfig.json

prisma/db.schema.prisma
prisma/schema.prisma
prisma/seed
prisma/migrations